*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    font-family: var(--body);
    line-height: 1.6;
    background-color: var(--fond);
    color: var(--intermediare);
    margin: 0px;
    
  }

  .noscroll,
.noscroll body {
  overflow: hidden;
}

main {
    margin-top: 120px; 
}

.p_home{
  text-align: center;
  margin: 10px;
  font-family: 'Roboto Condensed';
  font-size: var(--body);
}

h2{
  color: var(--titres-pages);
  font-family: 'inter';
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: var(--logo);
}

.card-image{
clip-path:ellipse(50% 50%);
width: 200px;

}

p{
  margin: 20px;
  font-family: 'Roboto Condensed';
}
