.about__content{
    color: var(--intermediare);
    font-family: 'Roboto Condensed';
    margin: 30px;
    text-align: center ;
}

.site-info{
    padding: 20px;
    color: var(--intermediare);
    font-family: 'Roboto Condensed';
    margin: 20px;

}

.site-info__description  {
    color: var(--intermediare);
}

.site-info__objective{
    color: var(--intermediare);
}


.glossary__list{
    
    color: var(--intermediare);
    font-family: 'Roboto Condensed';
    margin: 20px;
}

.glossary__term{
    font-weight: 700;
}