
.header {
    background-color:var(--fond);
    position:fixed;
    top:0px;
    left:0;
    width:100%;
    height:81px; 
    z-index:3;
    justify-content: space-between;
    padding: 2px var(--space3x);


}

.header__menubtn{
    background-color: var(--fond);
    border:0;
}

.header__link-logo{
    text-decoration: none;
    color: var(--intermediare);
    font-family: 'Almendra';
    font-weight: 700;
    font-size: 30px;
   
  }

  
  .header__logo{
   text-align: center;
   margin-top: -30px;
   
}

.header__logo-lang{  
margin-top: 25px;
width: 48px;
height:32px;
position: relative;
}