.black-panther-info{
    position:relative;
    background-image: url("/public/icones/wave_home.svg");
    background-repeat:no-repeat;
    background-size: cover;        
    padding-bottom:40px;
    padding-top:180px;
    top:0px;
    z-index:0;
    color: var(--fond);
}

.nation-under-our-feet-info{
    position:relative;
    background-image: url("/public/icones/wave_home.svg");
    background-repeat:no-repeat;
    background-size: cover;        
    padding-bottom:40px;
    padding-top:180px;
    top:0px;
    z-index:0;
    color: var(--fond);
}
.info-title{
    font-size: var(--titres-pages);

}

.description{
    font-weight: 500;
    text-align: center;
}

.section_clair{
    position:relative;
    background-image: url("/public/icones/wave_article_long.svg");
    background-repeat:no-repeat;
    background-size: cover;        
    padding-bottom:40px;
    padding-top:50px;
    top:40px;
    z-index:0;
    color: var(--fond);
  }