
    .dot {
        width: 16px; 
        height: 20px;
        background-color: var(--intermediare); 
        border-radius: 50%;
        margin: 35px -5px; 
    }

    .dot p {
        font-family: 'inter';
        font-size: var(--c-a-r-d--b-o-d-y);
        font-weight: 700;
        margin-left: 35px; 
    }
    .frise{
        background-image: url("/public/icones/ligne.png");
        background-repeat:no-repeat;
        background-size:contain;  
        margin: 15px;  
    }
    
   