@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800;900&family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,700;1,700&display=swap');

@import "vendors/normalize.css";

/* Utils */
@import "utils/variables.css";

/* Base */
@import "base/main.css";
@import "base/media.css";

/* Layout */
@import "layout/header.css";
@import "layout/footer.css";
@import "layout/contact.css";
@import "layout/pages.css";
@import "layout/section.css";

/* Components */
@import "components/menu.css";
@import "components/hero.css";
@import "components/menuTheme.css";
@import "components/presentation.css";
@import "components/btn.css";
@import "components/card.css";
@import "components/articles.css";
@import "components/gallery.css";